body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div#project {
    position: absolute;
}

div#project text {
    font-family: Georgia, "Times New Roman", Serif;
}

div#input-section {
    position: relative;
    z-index: 1;
    opacity: .8;
    width: min(30%, 200px);
    float: right;
    padding: 20px 30px;
    background: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

div#input-section > div#operator-button {
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .6em;
    grid-row-gap: .6em;
    justify-content: center;
    padding-bottom: 1em;
}

div#input-section > div#operator-button > button.operator, div#input-section > button.wide-button {
    height: 2em;
    width: -webkit-fill-available;
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 18px;
    padding: 4px 8px;
}

div#input-section > input#input-variable {
    height: 2em;
    width: -webkit-fill-available;
    padding: 2px 8px;
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 18px;
}

div#input-section > button.wide-button {
    margin-top: .6em;
}

div#truth-table {
    display: none;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: .1em 0.3em;
    margin: 1.2em 0.6em;
    border: 1px #ddd solid;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

table th {
    border-top: 0;
    border-bottom: 2px solid #f4f4f4;
    vertical-align: bottom;
}

table td {
    border-top: 1px solid #f4f4f4;
}


table th, table td {
    padding: 8px;
    line-height: 0.9;
    text-align: center;
}

div#hidden-container {
    display: none;
}

div.bubble {
    position: relative;
    right: 100%;
    top: -1.6em;
    display: flex;
}

div.round-rect {
    background-color: #fff;
    word-break: keep-all;
    padding: 14px 16px;
    border: #000 solid 1px;
    border-radius: 7px;
    z-index: 1;
}

div.bubble-triangle {
    left: -1px;
    height: 0px;
    width: 0px;
    top: 0.8em;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: relative;
    z-index: 2;
}

div.bubble-triangle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    top: -5px;
    left: -6px;
    z-index: 2;
}

input.truth-radiobox {
    margin: 0px 4px 3px;
}

div#truth-table-img {
    float: right;
    width: calc(4em + 12px);
    align-items: center;
    display: flex;
    justify-content: center;
}

button#check-button {
    margin: 0 2px 6px 0;
    font-family: Georgia, Times, serif;
    font-size: 16px;
    text-align: center;
    padding: 4px 0;
    height: 1.8em;
}